.row
  .col-xs-4
  .col-xs-2
    %h3= "Order ##{@order.id}"
    %h4= @order.formatted_delivery_time

%br
.row
  .col-xs-4
  .col-xs-4
    .col-xs-3
.row
  .col-xs-4
  .col-xs-4
    = @order.user.name
    %br
    %b
      Ph:
      = @order.user.profile.phone_number
    %br
    = @order.address.formatted

%br

.row
  .col-xs-4
  .col-xs-2
    %b Item
  .col-xs-2
    %b Quantity

- @order.line_items.includes(:menu_product).includes(:product).each do |li|
  .row
    .col-xs-4
    .col-xs-2
      = li.product.name
    .col-xs-2
      = li.quantity
  %br

.row
  .col-xs-4
  .col-xs-4
    .col-xs-10
      Total Amount
      = "(#{@order.total_price})"
      ="-"
      Prepaid Amount
      ="(#{@order.prepaid_amount})"
.row
  .col-xs-4
  .col-xs-4
    .col-xs-10
      %h4
        Due Amount:
        ="#{@order.cash_to_pay}"

%br
  %br
- if @order.pending?
  = link_to 'Acknowledge',[:acknowledge,:company,@order], method: :put,class: 'btn btn-primary'

- if @order.acknowledged?
  = form_for [:assign,:company,@order],method: :put do |f|
    = f.collection_select :delivery_executive_id,DeliveryExecutive.available,:id,:name
    = f.submit 'Dispatch'
- if @order.dispatched?
  Dispatched through:
  = @order.delivery_executive.try &:name
%br
  %br


- if !@order.cancelled? && !@order.delivered?
  %br
    %br
  = link_to 'Cancel Order',[:cancel,:company,@order],method: :put, data: {confirm: "Are you sure?"}
%br
  %br
    %br

= link_to 'Back to Current Orders',[:company,:current_orders],class: 'btn btn-primary'
%br
  %br
= link_to 'Back to All Orders',[:company,:orders]


