%h3= "Order ##{@order.id}"
.row
  .col-xs-9
    .col-xs-4
      %b User Details:
    .col-xs-3
      %b Delivery Time
    - if @order.dispatched?
      .col-xs-3
        %b Dispatched At
    - if @order.delivered?
      .col-xs-3
        %b Delivered At
    .col-xs-2
      %b State
.row
  .col-xs-9
    .col-xs-4
      - if current_company_user.has_role? :admin
        = link_to @order.user.name,[:company,@order.user]
      - else
        = @order.user.name
      %br
      Ph:
      = @order.user.profile.phone_number
      %br
      = @order.address.formatted
    .col-xs-3
      = @order.formatted_delivery_time
    - if @order.dispatched?
      .col-xs-3
        = @order.dispatched_at.strftime("%l:%M %p")
    - if @order.delivered?
      .col-xs-3
        = @order.delivered_at.strftime("%l:%M %p")
    .col-xs-2
      = @order.state.upcase


%h4 Items
.row-fluid
  .col-xs-8
    .col-xs-3
      %b Item
    .col-xs-3
      %b Quantity
  .col-xs-4

- @order.line_items.includes(:menu_product).includes(:product).each do |li|
  .row-fluid
    .col-xs-8
      .col-xs-3
        = li.product.name
      .col-xs-3
        = li.quantity
%br
  %br
%h4
  BILL:
.row
  .col-xs-1
  .col-xs-6
    .col-xs-1
      Total Amount
      %br
      %b= "#{@order.total_price} "
    .col-xs-1
      = "-"
    .col-xs-1
      Prepaid Amount
      %br
      %b="#{@order.prepaid_amount}"
    .col-xs-1
      = "="
    .col-xs-1
      Due
      %br Amount
      %b="#{@order.cash_to_pay}"

%br
  %br
- if @order.pending?
  = link_to 'Acknowledge',[:acknowledge,:company,@order], method: :put,class: 'btn btn-primary'

- if @order.acknowledged?
  = form_for [:assign,:company,@order],method: :put do |f|
    = f.collection_select :delivery_executive_id,DeliveryExecutive.all,:id,:name
    = f.submit 'Dispatch',class: 'btn btn-primary'
- if @order.dispatched?
  Dispatched through:
  %b= @order.delivery_executive.try &:name
  %br
    %br
  Reassign order ?
  = form_for [:assign,:company,@order],method: :put do |f|
    = f.collection_select :delivery_executive_id,DeliveryExecutive.all,:id,:name
    = f.submit 'Redispatch',class: 'btn btn-danger',data: {confirm: 'Are you sure ? Do you want to reassign this order ?'}

%br
  %br


- if !@order.cancelled? && !@order.delivered?
  %br
    %br
  = link_to 'Cancel Order',[:cancel,:company,@order],method: :put, data: {confirm: "Are you sure?"}
%br
  %br
    %br


= link_to 'Back to Current Orders',[:company,:current_orders,category: @order.category],class: 'btn btn-primary'


