%table.table
  %thead
    %tr
      %th
        User
      %th
        Address Id
      %th
        Delivery Time
      %th
        State
  %tr
    %td
      = @order.user.name
    %td
      = @order.address_id
    %td
      = @order.delivery_time
    %td
      = @order.state


%h3 Items
%table.table
  %thead
    %tr
      %th
        MenuProduct #
      %th
        Item
      %th
        Quantity
      %th
        Photo

  - @order.line_items.each do |li|
    %tr
      %td
        = li.menu_product.id
      %td
        = li.menu_product.product.name
      %td
        = li.quantity

- if @order.pending?
  = link_to 'Acknowledge',[:acknowledge,:company,@order], method: :put,class: 'btn btn-primary'

- if @order.acknowledged?
  = form_for [:assign,:company,@order],method: :put do |f|
    = f.collection_select :delivery_executive_id,DeliveryExecutive.all,:id,:name
    = f.submit 'Dispatch'
- if @order.dispatched?
  Dispatched through:
  = @order.delivery_executive.name
%br
  %br
    %br

= link_to 'Back to All Orders',[:company,:orders]


