%h3= "Order ##{@order.id}"
%table.table
  %thead
    %tr
      %th
        User Details:
      %th
        Delivery Time
      - if @order.dispatched?
        %th
          Dispatched At
      - if @order.delivered?
        %th
          Delivered At
      %th
        State
  %tr
    %td
      = @order.user.name
      %br
      Ph:
      = @order.user.profile.phone_number
      %br
      = @order.address.formatted
    %td
      = @order.formatted_delivery_time
    %td
      = @order.formatted_delivery_time
    %td
      = @order.formatted_delivery_time
    %td
      = @order.state.upcase


%h3 Items
%table.table
  %thead
    %tr
      %th
        Item
      %th
        Quantity
      %th
        Photo

  - @order.line_items.includes(:menu_product).includes(:product).each do |li|
    %tr
      %td
        = li.product.name
      %td
        = li.quantity
%h4
  BILL:
.row
  .col-xs-1
  .col-xs-1
    Total Amount
    %br
    %b= "#{@order.total_price} "
  .col-xs-1
    = "-"
  .col-xs-1
    Prepaid Amount
    %br
    %b="#{@order.prepaid_amount}"
  .col-xs-1
    = "="
  .col-xs-1
    Due
    %br Amount
    %b="#{@order.cash_to_pay}"

%br
  %br
- if @order.pending?
  = link_to 'Acknowledge',[:acknowledge,:company,@order], method: :put,class: 'btn btn-primary'

- if @order.acknowledged?
  = form_for [:assign,:company,@order],method: :put do |f|
    = f.collection_select :delivery_executive_id,DeliveryExecutive.available,:id,:name
    = f.submit 'Dispatch'
- if @order.dispatched?
  Dispatched through:
  = @order.delivery_executive.try &:name
%br
  %br
- if !@order.cancelled? && !@order.delivered?
  = link_to 'Cancel Order',[:cancel,:company,@order],method: :put, data: {confirm: "Are you sure?"}
%br
  %br
    %br

= link_to 'Back to Current Orders',[:company,:current_orders],class: 'btn btn-primary'
%br
  %br
= link_to 'Back to All Orders',[:company,:orders]


