- @delivery_executives = @delivery_executives.select {|exec| exec.orders.present?}
- @delivery_executives.each do |exec|
  .row-fluid
    .row-fluid
      %b= exec.name
      = link_to " view location",show_location_company_delivery_executive_path(exec),:target => "_blank"
      = link_to 'Test Device',test_device_company_delivery_executive_path(exec)
    %br
    %b UNDELIVERED
    .row-fluid
      - exec.orders.today.where(state: ['dispatched','informed_delivery_guy']).order(:delivery_time).each do |o|
        .row-fluid
          = "# #{o.id}, #{o.delivery_time_range}"
          %br
          %b Addr:
          = o.address.formatted
        %br
    .row-fluid
      DELIVERED:
      - exec.orders.today.where(state: 'delivered').order(:delivery_time).each do |o|
        -#TODO Make them green to show they are delivered
        .row-fluid
          = o.id
          ,
          = o.address.formatted