- user =@order.user

!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Spoonly
    = stylesheet_link_tag "order_success"

  %body
    #order_success_mail
      .header
        .logo
          -#= image_tag "spoonly_text.png"
        .header-msg-container
          %p.header-msg-top
            =link_to "Download Android App", "https://play.google.com/store/apps/details?id=com.freshspoon.spoonly"
          %p.separator
          %p.header-msg-bottom Order Confirmation
      .mail-body
        .user
          %p= "Hi #{user.name}"
        .msg
          %p Thanks for your order. This email confirms that we have received your order.

        .order-details
          %p Order Details:
          %table
            %tbody
              - @order.line_items.each do |li|
                %tr.order
                  %td.item-img
                    = image_tag li.product.photo.url(:medium), alt: "#{li.product.name} image"
                  %td.item-name
                    %p= li.product.name
                  %td.item-qty-price
                    %p= "#{li.quantity} x #{li.price}"
          .total
            %p= "Grand Total Rs. #{@order.grand_total}"

        .delivery-details
          %table
            %tbody
              %tr
                %td.label-text Expected Delivery Time:
                %td.label-text Delivery Address:
              %tr
                %td.value
                  - delivery_date = @order.delivery_time.to_date
                  - if delivery_date != Date.current
                    = "#{@order.delivery_time.to_date.strftime("%a,%-d %b")} #{@order.delivery_time_range}"
                  - else
                    = @order.delivery_time_range
                %td.value= @order.address.formatted
              %tr
                %td.label-text Payment Mode:
                %td.label-text Contact No.:
              %tr
                %td.value
                  - if @order.cash_to_pay>0
                    - message = "Please pay Rs #{@order.cash_to_pay} to the delivery executive."
                  = message
                %td.value= @order.user.phone_number

        .footer-msg
          %p For any queries please write to care@spoonly.in
          %p We hope to see you again soon.

          .regards
            %p Regards,
            %p Spoonly Team.
        .banner
          = link_to image_tag('http://res.cloudinary.com/ddg0ozoid/image/upload/v1458664103/grabon-banner_d68jau.png'), 'http://www.grabon.in/cricketfantasy/?referral=ltr8ShFwNEyWrPTd9jIJJQ'

