= link_to "ADD NEW COMPANY USER",new_company_company_user_path

%br
  %br
.row
  .col-xs-2
    %h3 Email
  .col-xs-2
    %h3 Roles
  .col-xs-2
    %h3 OTP
  .col-xs-2
    %h3 Actions
%br
  %br


- @company_users.each do |user|
  .row
    .col-xs-2
      = user.email
    .col-xs-2
      = user.roles.collect {|r| r.name.humanize.capitalize}.join(" , ")
    .col-xs-2
      = user.otp_required_for_login? ? 'OTP Enabled' : 'OTP Disabled'
      - if user.otp_required_for_login?
        = link_to 'Disable OTP',disable_otp_company_company_user_path(user),method: :put
        = link_to 'View OTP',show_otp_company_company_user_path(user)
      - else
        =link_to 'Enable OTP',enable_otp_company_company_user_path(user),method: :put
    .col-xs-2
      = link_to "Edit",edit_company_company_user_path(user)
      ,
      = link_to "Edit Roles",edit_roles_company_company_user_path(user)

  %br