= form_tag inside_customer_homes_path, id: 'locationForm', class: "form-horizontal" do
  .form-group
    .city-location
      %span Hyderabad
      = text_field_tag 'locality','',id: 'searchTextField', size: '40',placeholder: 'Enter Location eg. Hitec City '
      = hidden_field_tag 'latitude'
      = hidden_field_tag 'longitude'
      = hidden_field_tag 'distance'
    = submit_tag 'See Menu', class: "btn btn-default"
