= title 'Order Fresh, Tasty Food Online in Hyderabad. Order Lunch and Dinner from our ever changing daily menu'
= content_for :description, 'Freshly prepared tasty,wholesome meals. Delivered to your Desk. Order lunch and dinner online'
= content_for :keywords, 'Home Delivery, Lunch ,Office Lunch, Dinner, Healthy Food,Wholesome Meals, Order Food Online,
 Online Food delivery'
- meta og: { description: "Chef made meals.Delivered to your desk. Order lunch & dinner from our daily changing menu" ,url: "http://www.spoonly.in",title: "Freshly prepared tasty,
 wholesome meals delivered to your desk | Spoonly"}

#customer_home
  .section-one
    .col-xs-12
      .text-container.text-center
        %h2{'style'=> "font-size: 31px;"} Reclaim
        %h1{'style'=> "font-size: 44px; "} Mealtime
        %br
        -#  TODO Make below font size as 12 px
        %p{'style'=> "font-size: 15px;"}  Fresh. Wholesome. Chef-made
        %p{'style'=> "font-size: 15px;"}  Delivered to your desk.
        %br
        .row
          .col-xs-1
          = render 'location_form'
  = render 'how_it_works'


%script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" }

:javascript
  function initialize() {

  var input = document.getElementById('searchTextField');
  var southWest = new google.maps.LatLng( 17.323550, 78.285136 );
  var northEast = new google.maps.LatLng( 17.627775, 78.630175 );
  var hyderabadBounds = new google.maps.LatLngBounds( southWest, northEast );

  var options = {
      //bounds: hyderabadBounds,
      componentRestrictions: { country: 'in' }
  };

  var autocomplete = new google.maps.places.Autocomplete(input,options);
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
     var place = autocomplete.getPlace();
     var dest_lat = place.geometry.location.lat()
     var dest_long = place.geometry.location.lng()
     dest = new google.maps.LatLng(dest_lat,dest_long);
     //Analytics code for place
     analytics.track('Entered location', {
       place: place.formatted_address
     });

     $('#locationForm').find('#latitude').val(dest_lat);
     $('#locationForm').find('#longitude').val(dest_long);
     $('#locationForm').submit();

  });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  $(document).on('page:load',initialize)

- if @out_of_service
  :javascript
    alert("We're sorry :(  Currently we do not serve in your area. We currently serve in Hitec City, Gachibowli and parts of Kondapur.");
