= form_for [:company,@wallet_promotion] do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_field :description
  = f.label :amount
  = f.text_field :amount
  = f.label :promotion_type
  = f.text_field :promotion_type
  = f.submit