%p.title{class: ""}
  Order Confirmation

#order_content{'style'=>'display: none'}
  .content
    %h3 Cash On Delivery
    %h4 Order

    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Item (Description)
          %th Price
          %th Quantity
      %tbody
        - @cart.line_items.includes(:menu_product).includes(:product).each do |item|

          %tr
            %td
              %p= item.product.name
              %p= item.product.desc

            %td= item.product.price

            %td= item.quantity

    = form_tag customer_orders_path, class: "form-horizontal" do
      - delivery_times = MenuProduct.send("show_#{@cart.category}_times")
      .form-group
        = select_tag 'order[delivery_time]',options_from_collection_for_select(delivery_times,:first,
        :last), class: "form-control"
        = hidden_field_tag 'order[pay_type]','cash_on_delivery'
        = hidden_field_tag 'order[address_id]'

        = submit_tag 'Confirm Order', class: "btn btn-warning"
