= form_tag customer_addresses_path,remote: true, class: "form-horizontal" do

  .form-group
    = label_tag "Address Type", nil, class: "control-label col-xs-6 col-md-4"
    .col-xs-6.col-md-4.address_type
      %label{for: :address_type_office, class: "control-label col-xs-4 pull-left"}
        = radio_button_tag 'address_type','office',default: true,checked: true
        Office
      %label{for: :address_type_home, class: "control-label col-xs-4 pull-left"}
        = radio_button_tag 'address_type','home', checked: false, class: "control-label"
        Home

  .form-group
    = label_tag :company, nil, class: "control-label col-xs-6 col-md-4"
    .col-xs-6.col-md-4
      = text_field_tag :company, nil, class: "form-control"

  .form-group
    = label_tag :flat, nil, class: "control-label col-xs-6 col-md-4"
    .col-xs-6.col-md-4
      = text_field_tag :flat, nil, class: "form-control"

  .form-group
    = label_tag :floor, nil, class: "control-label col-xs-6 col-md-4"
    .col-xs-6.col-md-2
      = text_field_tag :floor, nil, class: "form-control"

  .form-group
    = label_tag :building, nil, class: "control-label col-xs-6 col-md-4"
    .col-xs-6.col-md-4
      = text_field_tag :building, nil, class: "form-control"

  .form-group
    = label_tag :address_details, nil, class: "control-label col-xs-6 col-md-4"
    .col-xs-6.col-md-4
      = text_field_tag :address_details, nil, class: "form-control"

  .form-group
    = label_tag :landmark, nil, class: "control-label col-xs-6 col-md-4"
    .col-xs-6.col-md-4
      = text_field_tag :landmark, nil, class: "form-control"

  .form-group
    = hidden_field_tag :is_default,true
  .form-group
    .col-xs-offset-6.col-md-offset-4.col-xs-2.cancel
      = button_tag(type: 'button', class: 'btn btn-default') do
        = content_tag(:span, 'Cancel')
    .col-xs-4
      .submit
        = submit_tag 'Deliver to this address', class: "btn btn-action"


:javascript
  $('.cancel button').click(function() {
    $('.new_address').hide();
    $('.addresses').show();
  })
