- if @order.persisted?
  .col-xs-12.order-success-msg
    %p Thank you for placing your order with us.
    %p Your Order has been confirmed.

  .col-xs-offset-2.col-xs-8.order-details
    .col-xs-12
      .col-xs-4.label-text
        %p User
      .col-xs-8.value
        %p= @order.user.name
    .col-xs-12
      .col-xs-4.label-text
        %p Delivery Address
      .col-xs-8.value
        %p= @order.address.formatted

    .col-xs-12
      .col-xs-4.label-text
        %p Total Amount
      .col-xs-8.value
        %p= @order.total_price

    .col-xs-12
      .col-xs-4.label-text
        %p Delivery Date
      .col-xs-8.value
        %p= @order.formatted_delivery_time

    .col-xs-12
      - if @order.prepaid_amount
        .col-xs-4.label-text
          %p Amount Paid
        .col-xs-8.value
          %p= @order.prepaid_amount

    .col-xs-12
      - if @order.cash_to_pay > 0
        .col-xs-4.label-text
          %p Amount to be paid
        .col-xs-8.value
          %p= @order.cash_to_pay

    .col-xs-12
      = link_to "OK", "/", class: "btn btn-action"
