= title 'Place Order'


#orders_new
  %ul.orders-process-list
    - if !user_signed_in?
      %li.sign-in
        %p.title{class:(user_signed_in? ? '' : 'active')}
          Please login before continuing
          .content
            .col-xs-12.col-sm-offset-5.col-sm-6.col-md-offset-5.col-md-6
              - if devise_mapping.omniauthable?
                - resource_class.omniauth_providers.each do |provider|
                  .col-xs-12
                    = link_to omniauth_authorize_path(resource_name, provider) do
                      - if provider == :facebook
                        .social-auth-button.fb-button
                          %i.fa.fa-facebook
                          %span Facebook
                      - elsif provider == :google
                        .social-auth-button.google-button
                          %i.fa.fa-google
                          %span Google
                    -#= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
    - else
      %li.sign-in
        %p.title
          Please login before continuing
          %span.details= current_user.name


    - if !user_signed_in? || !current_user.phone_number_verified
      %li.phone_number_verification
        %p.title{class: (user_signed_in? && !current_user.phone_number_verified ? 'active' : '')}
          Please verify phone number

        - if user_signed_in? && !current_user.phone_number_verified
          #phone_number_verification.content
            = form_tag start_customer_number_verifications_path,class: '',remote: true, class: "form-horizontal" do
              .form-group
                = number_field_tag 'phone_number', nil, class: "form-control"
                = submit_tag 'Continue', class: "btn btn-warning"
              %p.text-danger Please verify mobile number to continue.

            .row#enter_code{style: 'display: none'}
              = form_tag finish_customer_number_verifications_path, class: "form-horizontal" do
                .form-group
                  = number_field_tag 'verification_code', nil, class: "form-control"
                  = submit_tag 'Verify', class: "btn btn-warning"
                %p.text-danger Please enter the code received
            .row.errors#wrong_code{style: 'display: none'}
          -##final_order{style: 'display: none'}
            -#- can_order = true
            -#= render 'customer/orders/final_order', :can_order => can_order
    - else
      %li.phone_number_verification
        %p.title
          Please Verify mobile number
          %span.details= current_user.profile.phone_number

    %li.address
      %p.title{class: "#{(user_signed_in? && current_user.phone_number_verified) ? 'active' : ''}"}
        Delivery Address
        - if user_signed_in? && current_user.phone_number_verified
          - if current_user.addresses.present?
            .addresses
              - current_user.addresses.each do |address|
                .row
                  = render 'customer/addresses/show',address: address
              = hidden_field_tag :address_id
              = link_to 'Add Home Address','',class: 'add_home'
              = link_to 'Add Office Address','',class: 'add_office'
              #confirm_address= link_to 'Proceed','', class: "btn btn-warning"
          #selected_address
          - if !current_user.addresses.present?
            - show_new_address = true
            .add_office
              = link_to 'Add Home Address'
            .add_home
              = link_to 'Add Office Address'
          .new_address{'style'=>"display: #{show_new_address ? '' : 'none' }"}
            = render 'new_address_form'

    %li.order_confirmation
      - can_order = user_signed_in? && current_user.phone_number_verified
      #final_order
        = render 'customer/orders/final_order', :can_order => can_order

:javascript
  $('#phone_number').keypress(function(){
    $('#enter_code').hide();
  })

  $('.add_office').click(function(){
    $('.new_address').show();
    $('#address_type_office').click();
    $('.addresses').hide();
    return false;
  })

  $('.add_home').click(function(){
    $('.new_address').show();
    $('#address_type_home').click();
    $('.addresses').hide();
    return false;
  })

    $('#address_type_home').click(function(){
      $('#company').hide()
      $('label[for="company"]').hide()
      $('#flat').show()
      $('label[for="flat"]').show()
    })

    $('#address_type_office').click(function(){
      $('#flat').hide()
      $('label[for="flat"]').hide()
      $('#company').show()
      $('label[for="company"]').show()
    })

  $('.select-address').click(function(){
    $('#order_address_id').val($(this).data().addressId)
  })
  $('#confirm_address').click(function(){
   $('.address .title').removeClass('active')

    $('.addresses').hide();


   var address_id = $('#order_address_id').val();
   var selected_address = $('[data-address-id='+address_id+']')
   $('#selected_address').html(selected_address).html()

   $('#final_order .title').addClass('active')
   $('#order_content').show();
   return false;

  })



