%h3 Referrals
.row
  .col-xs-2
  .col-xs-2
    Created At
  .col-xs-3
    New User
  .col-xs-2
    Referrer

- @referrals.each do |referral|
  - referred_user = referral.referred
  - referring_user = referral.referrer
  .row
    .col-xs-2
    .col-xs-2
      = referral.created_at.strftime("%l:%M %p, %a  %-d %b")
    .col-xs-3
      = link_to "#{referred_user.try :name}, #{referred_user.try :email}",[:company,referring_user]
    .col-xs-2
      = link_to "#{referring_user.try :name}, #{referring_user.try :email}",[:company,referring_user]
  .row
.row
  = will_paginate @referrals