= title 'Awesome Fresh Meals'
#customer_menu
  = render 'location'
  .section-one
    .col-xs-12
      .col-md-offset-3.col-md-6.menu-container
        .message
          %p Get homely food delivered at your doorstep

        .col-xs-12.col-md-4.lunch
          = link_to lunch_customer_menus_path do
            = image_tag "lunch.png"
          %p Lunch
          .separator
          %p.time 12pm - 3pm

        .col-xs-12.col-md-offset-4.col-md-4.dinner
          = link_to dinner_customer_menus_path do
            = image_tag "dinner.png"
          %p Dinner
          .separator
          %p.coming-soon Coming Soon
