= title 'Awesome Fresh Meals'
#customer_menu
  = render 'location', date: nil
  .section-one
    .col-xs-12
      .col-md-offset-4.col-md-6.menu-container
        .col-xs-12.col-md-6
          .lunch{'style'=>"border: 2px solid rgba(256,256,256,.6)"}
            = link_to "Lunch", lunch_customer_menus_path
            .separator
            %p.time 12pm | 3pm

        .col-xs-12.col-md-6
          .dinner{'style'=>"border: 2px solid rgba(256,256,256,.6)"}
            = link_to "Dinner", dinner_customer_menus_path
            .separator
            %p.coming-soon Coming Soon
  = render 'customer/homes/how_it_works'
