= title 'Lunch Menu'
#menu_lunch
  = render 'location',category: 'lunch'
  - if @unavailable
    = render 'customer/menus/menu_unavailable'
  - else
    - if @menu.menu_date != Date.current
      = render 'customer/menus/menu_tomorrow'

    .menu-row
      - @menu.menu_lunch_products.includes(:product).each do |menu_product|
        .col-xs-6
          .menu-card{'id'=>"menu_product_#{menu_product.id}"}
            = render 'customer/menus/menu_product_preview',menu_product: menu_product

  :javascript
     analytics.page('Lunch Menu');