.alert.alert-danger#new_order_alert{'style'=> "display: none"}
  New order has been received! Refresh Page
- @orders.each do |order|
  .row-fluid
    - user = order.user
    .col-xs-8
      %br
      = "##{order.id}, #{user.name[0..10]}"
      = link_to 'CALL',"tel:#{user.profile.phone_number}",class: 'btn-primary btn btn-sm'
      %br
      = "#{order.address.formatted}."
      %br
      %b= "#{order.formatted_delivery_time.split(' ')[0]+" "+order.formatted_delivery_time.split(' ')[1]}"
      %br
      = "#{order.brief_line_items}"
      = "Rs #{order.cash_to_pay.to_i}"
    .col-xs-4
      %br
        %br
      - if order.informed_delivery_guy?
        = link_to 'Accept',accept_company_field_order_path(order),method: :put,class: 'btn btn-danger'
      - else
        - if order.dispatched?
          = link_to 'Mark Delivered!',mark_delivered_company_field_order_path(order),method: :put,class: 'btn btn-primary'
        - elsif order.delivered?
          -#TODO Style it to be green
          = order.state.upcase
        - else
          = order.state.upcase
  %br
= render 'company/field/orders/new_order_handling'