- content_for :head do
  :javascript
    history.pushState(null, null, 'orders');
    window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'orders');
    });
= title 'Todays Orders'

.container-fluid
  .alert.alert-danger#new_order_alert{'style'=> "display: none"}
    New order has been received! Refresh Page

  - if @undelivered_orders.present?

    .row
      - line_items = LineItem.where(order: @undelivered_orders)
      .col-xs-6
        %h3
          ="VEG-#{line_items.select(&:vegetarian).sum(&:quantity)}"
      .col-xs-6
        %h3
          = "NONVEG-#{line_items.reject(&:vegetarian).sum(&:quantity)}"

    - @undelivered_orders.each do |order|
      .row
        - user = order.user
        .col-xs-8
          %br
          = "##{order.id}, #{user.name[0..10]}"
          = link_to 'CALL',"tel:#{user.profile.phone_number}",class: 'btn-primary btn btn-sm'
          %br
          = "#{order.address.formatted}."
          - if order.address.has_location?
            = link_to "Map","geo:?q=#{order.address.latitude},#{order.address.longitude}"
          %br
          %b= "#{order.formatted_delivery_time.split(' ')[0]+" "+order.formatted_delivery_time.split(' ')[1]}"
          %br
          = "#{order.brief_line_items}"
          &#8377
          ="#{order.cash_to_pay.to_i}"
        .col-xs-4
          %br
            %br
          - if order.informed_delivery_guy?
            = link_to 'Accept',accept_company_field_order_path(order),method: :put,class: 'btn btn-danger'
            %br
              %br
            &emsp;
            = link_to 'Reject',reject_company_field_order_path(order),method: :put,data: {confirm: 'Do you want to REJECT this order ?'}
          - else
            - if order.dispatched?
              = link_to 'Mark Delivered!',mark_delivered_company_field_order_path(order),method: :put,class: 'btn btn-primary',data:{confirm: "Mark order #{order.id},#{order.user.name} as delivered ?"}
            - else
              = order.state.upcase
  - else
    .col-xs-3
    .col-xs-8
      No Orders To Be Delivered!


  %br
    %br

  - if @delivered_orders.present?
    .row
      %h4 DELIVERED ORDERS
    - @delivered_orders.each do |order|
      .row
        - user = order.user
        .col-xs-8
          %br
          = "##{order.id}, #{user.name[0..10]}"
          = link_to 'CALL',"tel:0#{user.profile.phone_number}",class: 'btn-primary btn btn-sm'
          %br
          = "#{order.address.formatted}."
          %br
          %b= "#{order.formatted_delivery_time.split(' ')[0]+" "+order.formatted_delivery_time.split(' ')[1]}"
          %br
          = "#{order.brief_line_items}"
          &#8377
          = "#{order.cash_to_pay.to_i}"
        .col-xs-4
          %br
            %br
          Delivered



    %br
  = render 'company/field/orders/new_order_handling'