- content_for :head do
  :javascript
    history.pushState(null, null, '');
    window.addEventListener('popstate', function(event) {
    history.pushState(null, null, '');
    });

%ul
  - if(current_company_user.has_role?(:dispatcher) || current_company_user.has_role?(:admin))
    %li= link_to 'View Orders',[:company,:orders]
    %li= link_to 'View Todays Orders',[:company,:current_orders],class: 'btn btn-primary btn-lg'
    %li= link_to 'View Delivery Executives',[:company,:delivery_executives]
    %li= link_to 'Live Map View Delivery Executives',[:live_view,:company,:delivery_executives,data: { no_turbolink: true }]
    %li= link_to 'View Daily Bill Summary',[:collections_summary,:company,:orders]
    %li= link_to 'View CHEF SUMMARY - Lunch',[:chef_summary,:company,:current_orders,category: :lunch]
    %li= link_to 'View CHEF SUMMARY - Dinner',[:chef_summary,:company,:current_orders,category: :dinner]
    %li= link_to 'View Delivery Dashboard',[:dashboard,:company,:delivery_executives]

  - if current_company_user.has_role? :admin
    %h3 Admin Stuff

    %li= link_to 'View Menus',[:company,:menus]
    %li= link_to 'View Products',[:company,:products]
    %li= link_to 'View Users',[:company,:users]
    %li= link_to 'View Feedbacks',[:company,:feedbacks]
    %li= link_to 'View Wallet Promotions',[:company,:wallet_promotions]
    %li= link_to 'View General Promotions',[:company,:general_promotions]
    %li= link_to 'View Referrals',[:company,:referrals]
    %li= link_to 'View Addresses',[:company,:referrals]
    %li= link_to 'View Heatmap',[:heatmap,:company,:current_orders],class: 'btn btn-primary btn-lg'


- if(current_company_user.has_role?(:delivery_executive))
  .row
    %br
      %br
    .col-xs-3
    .col-xs-6
      = link_to 'View Field Orders', company_field_orders_path,class: 'btn btn-primary btn-lg'