#referral_code
  .logo-container
    = image_tag 'spoonly_referral_logo.gif'
  .user-profile-pic
    = image_tag @referrer.profile.pic_url

    %p.msg
      = @referrer.name
      gifted you
      %i.fa.fa-inr
      50
      meal credit
  .code-container
    .col-xs-6.left
      %p.code="Code: #{@referrer.referral_code}"
    .col-xs-6.right
      %p.title How it works?
      %p.step
        %span 1
        Download  APP
      %p.step
        %span 2
        Go to promotions
      %p.step
        %span 3
        = "Apply #{@referrer.referral_code}"


  %span.app-msg Get the app now
  %a{:href => "https://play.google.com/store/apps/details?id=com.freshspoon.spoonly"}
    %img{:alt => "Get it on Google Play", :src => "https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"}/
