#current_orders_header
  .alert.alert-danger#new_order_alert{'style'=> "display: none"}
    New order has been received..Reload page to see it !
  .col-xs-12
    .col-xs-8
      %h4 #{@category.upcase} -  Today, #{Date.today.strftime("%a  %-d %b")}
    .col-xs-4
      - if @category=='lunch'
        .pull-right= link_to "See Dinner Instead",[:company,:current_orders,category: :dinner]
      -else
        .pull-right= link_to "See Lunch Instead",[:company,:current_orders,category: :lunch]

  .col-xs-offset-4.col-xs-8.text-center
    = form_tag company_current_orders_path,method: :get, class: "form-horizontal" do
      .form-group
        .col-xs-4
          = text_field_tag :search,params[:search], class: "form-control"
        .col-xs-3.text-left``
          = submit_tag 'Search Orders', class: "btn btn-primary"

  .col-xs-12
    %table.table.states
      %thead
        %tr
          %td.all{class: "#{state=='all' ? 'active' : ''}"}
            = link_to 'All',[:company,:current_orders,category: params[:category]]
          %td.pending{class: "#{state=='pending' ? 'active' : ''}"}
            = link_to 'Pending',[:pending,:company,:current_orders,category: @category]
          %td.acknowledged{class: "#{state=='acknowledged' ? 'active' : ''}"}
            = link_to 'Acknowledged',[:acknowledged,:company,:current_orders,category: @category]
          %td.dispatched{class: "#{state=='dispatched' ? 'active' : ''}"}
            = link_to 'Dispatched',[:dispatched,:company,:current_orders,category: @category]
          %td.delivered{class: "#{state=='delivered' ? 'active' : ''}"}
            = link_to 'Delivered',[:delivered,:company,:current_orders,category: @category]

  .col-xs-12.show-state{class: "#{state}" }
    %h3.text-center= state.upcase

