= render 'company/current_orders/header',state: 'acknowledged'


.row
  .col-xs-2
    Order #
  .col-xs-2
    Delivery Time
  .col-xs-2
    User
  .col-xs-2
    Address
  .col-xs-2
    State
.row
  %br
    %br
- if @orders.present?
  = form_tag multi_assign_company_current_orders_path do
    - @orders.each do |order|
      .row
        .col-xs-2
          = check_box_tag 'order_ids[]',order.id
        .col-xs-2
          = link_to order.id,[:company,order]
        .col-xs-2
          = order.user.name
          %br
          %i Address:
          = order.address.formatted
        .col-xs-2
          = order.delivery_time_range
        .col-xs-2
          = order.state
    = select_tag :delivery_executive_id,options_from_collection_for_select(DeliveryExecutive.available,:id,:name)
    = submit_tag 'Dispatch'

= render 'company/current_orders/new_order_handling'
