= render 'company/current_orders/header',state: 'acknowledged'

.col-xs-12
  %table.table
    %thead
      %tr
        - ["", "Order #", "User", "Delivery Time","Informed Delivery ?","Items", "State"].each do |h|
          %th=h
    %tbody
    - previous_order = nil
    - previous_color = nil
    - colors = ['#ddd','#CDBCBC']
    - if @orders.present?
      = form_tag multi_assign_company_current_orders_path, class: "form-horizontal" do
        - @orders.each do |order|
          - if order.delivery_time == previous_order.try(:delivery_time)
            - color = previous_color || '#CDBCBC'
            -#Use same color as previous one
          - else
            -#TODO Use different color
            - color = previous_color ? (colors - [previous_color])[0] : '#ddd'
          - previous_order= order
          - previous_color = color
          %tr{:style => "background-color: #{color}"}
            %td
              - if order.acknowledged?
                = check_box_tag 'order_ids[]',order.id
            %td
              = link_to order.id,[:company,order]
            %td{'width'=>'250px'}
              %p= "#{order.user.name},#{order.user.profile.phone_number}"
              %i Address:
              %span= order.address.formatted
            %td
              = order.delivery_time_range
            %td
              - if order.informed_delivery_guy?
                = "Informed #{order.delivery_executive.name}"
              - else
                .inform_delivery_guy
                  = select_tag :inform_delivery_executive_id,options_from_collection_for_select(DeliveryExecutive.all,:id,:name),include_blank: true, class: "form-control inform_delivery_executive_id",style: "width: 90px;"
                  = submit_tag 'Inform',data: {order_id: order.id}
            %td
              = render 'company/orders/line_summary',order: order

            %td{class: "#{order.state}" }
              = order.state.humanize.upcase
              - if order.pending?
                = link_to 'Acknowledge',[:acknowledge,:company,order], method: :put,class: 'btn btn-primary'
              - elsif order.informed_delivery_guy?
                = link_to 'Withdraw Request ?',[:withdraw_delivery_request,:company,order], method: :put,class: 'btn'
        .col-xs-3
          = select_tag :delivery_executive_id,options_from_collection_for_select(DeliveryExecutive.all,:id,:name), class: "form-control"
        = submit_tag 'Dispatch', class: "btn btn-primary"

= render 'company/current_orders/new_order_handling'

:javascript
  $('.inform_delivery_guy').find('input[type=submit]').click(function(){

      var delivery_executive_id = $(this).parent().find('.inform_delivery_executive_id').val()
      var order_id = $(this).data('order-id');

      $.ajax({
      url: "/company/orders/"+order_id+"/inform_delivery_guy",
      type: 'PUT',
      data: 'inform_delivery_executive_id='+delivery_executive_id,
      success: function( data ) {
        location.reload();
      }
      });

  })