= render 'company/current_orders/header',state: 'acknowledged'

.col-xs-12
  %table.table
    %thead
      %tr
        - ["", "Order #", "User", "Delivery Time","Items", "State"].each do |h|
          %th=h
    %tbody
    - previous_order = nil
    - previous_color = nil
    - colors = ['#ddd','#CDBCBC']
    - if @orders.present?
      = form_tag multi_assign_company_current_orders_path, class: "form-horizontal" do
        - @orders.each do |order|
          - if order.delivery_time == previous_order.try(:delivery_time)
            - color = previous_color || '#CDBCBC'
            -#Use same color as previous one
          - else
            -#TODO Use different color
            - color = previous_color ? (colors - [previous_color])[0] : '#ddd'
          - previous_order= order
          - previous_color = color
          %tr{:style => "background-color: #{color}"}
            %td
              = check_box_tag 'order_ids[]',order.id
            %td
              = link_to order.id,[:company,order]
            %td{'width'=>'250px'}
              %p= "#{order.user.name},#{order.user.profile.phone_number}"
              %i Address:
              %span= order.address.formatted
            %td
              = order.delivery_time_range
            %td
              = render 'company/orders/line_summary',order: order

            %td{class: "#{order.state}" }
              = order.state
        .col-xs-3
          = select_tag :delivery_executive_id,options_from_collection_for_select(DeliveryExecutive.available,:id,:name), class: "form-control"
        = submit_tag 'Dispatch', class: "btn btn-primary"

= render 'company/current_orders/new_order_handling'
