= render 'company/current_orders/header',state: 'cancelled'

%table.table
  %thead
    %tr
      %th
        Order #
      %th
        Delivery Time
      %th
        User
      %th
        Address
      %th
        State
  - @orders.each do |order|
    %tr
      %td
        = link_to order.id,[:company,order]
      %td
        = order.delivery_time_range
      %td
        = order.user.name
      %td
        = order.address.formatted
      %td
        = order.state





.row
  :javascript
    var initialize = function(){

    console.log('initializing');
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher("#{Pusher.key}", {
      encrypted: true
    });
    var channel = pusher.subscribe('orders');
    channel.bind('purchased', function(data) {
    var sound = new Howl({
      urls: ["#{asset_path('new_order.mp3')}"],
      loop: true
    }).play();

    $('#new_order_alert').show()
      //sound.stop();
    });

    }
    initialize();
    //$(function(){ initialize(); })
    //$(document).on('page:load',initialize)


