= render 'company/current_orders/header',state: 'cancelled'

%table.table
  %thead
    %tr
      %th
        Order #
      %th
        Delivery Time
      %th
        User
      %th
        Address
      %th
        State
  - @orders.each do |order|
    %tr
      %td
        = link_to order.id,[:company,order]
      %td
        = order.delivery_time_range
      %td
        = order.user.name
      %td
        = order.address.formatted
      %td
        = order.state

= render 'company/current_orders/new_order_handling'

