.row
  .col-xs-3
  .col-xs-3
    %a#time_is_link{:href => "http://time.is/Andhra_Pradesh", :rel => "nofollow", :style => "font-size:36px"} Time:
    %span#Andhra_Pradesh_z424{:style => "font-size:36px"}
    %script{:src => "http://widget.time.is/t.js"}
    :javascript
      time_is_widget.init({Andhra_Pradesh_z424:{time_format:"12hours:minutes:secondsAMPM"}});

.row
  .col-xs-1
  .col-xs-3
    %h2 Time
  .col-xs-3
    .col-xs-1
    .col-xs-6
      %h3 VEG
  .col-xs-3
    .col-xs-1
    .col-xs-6
      %h3 NON-VEG

- today = Date.today
- MenuProduct.show_all_lunch_times.each do |hour,range|
  .row
    .col-xs-1

    .col-xs-3
      %h2
        = range
      - uncooked_orders=@orders.to_be_cooked.where(delivery_time: Time.zone.parse("#{today.year}-#{today.month}-#{today.day} "+ hour))
      - uncooked_line_items = LineItem.where(order: uncooked_orders)
      - in_dispatch_orders=@orders.in_dispatch_process.where(delivery_time: Time.zone.parse("#{today.year}-#{today.month}-#{today.day} "+ hour))
      - in_dispatch_line_items = LineItem.where(order: in_dispatch_orders)
    .col-xs-3
      .col-xs-3
        Disp
        %h3="#{in_dispatch_line_items.select(&:vegetarian).sum(&:quantity)}"
      .col-xs-4
        Not Disp
        %h3="#{uncooked_line_items.select(&:vegetarian).sum(&:quantity)}"
    .col-xs-3
      .col-xs-3
        Disp
        %h3="#{uncooked_line_items.reject(&:vegetarian).sum(&:quantity)}"
      .col-xs-4
        Not Disp
        %h3=" #{in_dispatch_line_items.reject(&:vegetarian).sum(&:quantity)}"
  .row
    %br
      %br
= render 'company/current_orders/chef_notify_new_order'
