.row
  .col-xs-3
  .col-xs-3
    %a#time_is_link{:href => "http://time.is/Andhra_Pradesh", :rel => "nofollow", :style => "font-size:36px"} Time:
    %span#Andhra_Pradesh_z424{:style => "font-size:36px"}
    %script{:src => "http://widget.time.is/t.js"}
    :javascript
      time_is_widget.init({Andhra_Pradesh_z424:{time_format:"12hours:minutes:secondsAMPM"}});

.row
  .col-xs-1
  .col-xs-3
    %h2 Time
  .col-xs-3
    %h2 VEG
  .col-xs-3
    %h2 NON-VEG

- today = Date.today
- MenuProduct.show_all_lunch_times.each do |hour,range|
  .row
    .col-xs-1

    .col-xs-3
      %h2
        = range
    - range_orders=@orders.where(delivery_time: Time.zone.parse("#{today.year}-#{today.month}-#{today.day} "+ hour))
    -line_items = LineItem.where(order: range_orders)
    .col-xs-3
      %h2
        = line_items.select(&:vegetarian).count
    .col-xs-3
      %h2
        = line_items.reject(&:vegetarian).count
  .row
    %br