= render 'company/current_orders/header',state: 'delivered'

%table.table
  %thead
    %tr.row
      %th
        Order #
      %th
        User-Address
      %th
        Delivery Time
      %th
        Dispatched At
      %th
        Delivery Executive
      %th
        Items
      %th
        Delivered At
      %th
        State
  - @orders.each do |order|
    %tr.row
      %td
        = link_to order.id,[:company,order]
      %td
        = order.user.name
        %br
        %i Address:
        = order.address.formatted
      %td
        = order.delivery_time_range
      %td
        = order.dispatched_at
      %td
        = order.delivery_executive.name
      %td
        = render 'company/orders/line_summary',order: order
      %td
      %td{class: "#{order.state}" }
        = order.state
        - if order.feedback_asked?
          Feedback Asked
        - else
          = link_to 'Ask Feedback',ask_feedback_company_order_path(order),method: :put

= render 'company/current_orders/new_order_handling'
