= render 'company/current_orders/header',state: 'dispatched'

%table.table
  %thead
    %tr.row
      %th
        Order #
      %th
        User-Address
      %th
        Delivery Time
      %th
        Dispatched At
      %th
        Delivery Executive
      %th
        State
      %th
        Actions
  - @orders.each do |order|
    %tr.row
      %td
        = link_to order.id,[:company,order]
      %td
        = order.user.name
        %br
        %i Address:
        = order.address.formatted
      %td
        = order.delivery_time_range
      %td
        = order.dispatched_at
      %td
        = "#{order.delivery_executive.name} , #{order.delivery_executive.phone_number}"
      %td{class: "#{order.state}" }
        = order.state
      %td
        - if !order.delivered?
          =link_to "Mark Delivered",deliver_company_order_path(order),method: :put

= render 'company/current_orders/new_order_handling'
