= render 'company/current_orders/header',state: 'pending'

%table.table
  %thead
    %tr.row
      %th
      %th
        Order #
      %th
        User
      %th
        Delivery Time
      %th
        Items
      %th
        State
  - @orders.each do |order|
    %tr.row
      %td
      %td
        = link_to order.id,[:company,order]
      %td{'width'=>'250px'}
        = order.user.name
        %br
        %i ADDRESS:
        = order.address.formatted
      %td
        = order.delivery_time_range
      %td
        = render 'company/orders/line_summary',order: order

      %td{class: "#{order.state}" }
        = order.state.humanize.upcase
        = link_to 'Acknowledge',[:acknowledge,:company,order], method: :put,class: 'btn btn-primary'




= render 'company/current_orders/new_order_handling'

