= render 'company/current_orders/header',state: 'pending'

%table.table
  %thead
    %tr.row
      %th
      %th
        Order #
      %th
        User
      %th
        Delivery Time
      %th
        Informed Delivery Guy?
      %th
        Items
      %th
        State
  - @orders.each do |order|
    %tr.row
      %td
      %td
        = link_to order.id,[:company,order]
      %td{'width'=>'250px'}
        = order.user.name
        %br
        %i ADDRESS:
        = order.address.formatted
      %td
        = order.delivery_time_range
      %td
        - if order.informed_delivery_guy?
          = "Informed #{order.delivery_executive.name}"
        - else
          = form_tag [:inform_delivery_guy,:company,order],method: :put do
            = select_tag :delivery_executive_id,options_from_collection_for_select(DeliveryExecutive.available,:id,:name),include_blank: true, class: "form-control",style: "width: 90px;"
            = submit_tag 'Inform'
      %td
        = render 'company/orders/line_summary',order: order

      %td{class: "#{order.state}" }
        = order.state.humanize.upcase
        - if order.pending?
          = link_to 'Acknowledge',[:acknowledge,:company,order], method: :put,class: 'btn btn-primary'
        - elsif order.informed_delivery_guy?
          = link_to 'Acknowledge ?',[:acknowledge,:company,order], method: :put,class: 'btn'





= render 'company/current_orders/new_order_handling'

