= form_tag company_addresses_path,method: :get do
  = text_field_tag 'search_term',@search_term
  = submit_tag 'Search'

- if @addresses.present?

  %table.table
    %thead
      %tr
        %th
          Created At
        %th
          Formatted
        %th
          Location
        %th
          Lat,Long
    - @addresses.each do |address|
      %tr{"id"=>"address_#{address.id}"}
        %td
          - if address.user
            = link_to address.user.try(:name),[:company,address.user]
          = address.created_at.strftime("%l:%M %p, %a  %-d %b")
        %td
          = address.formatted
        %td.view_location
          - if address.latitude and address.longitude
            = link_to 'View',"http://maps.google.com/maps?q=loc:#{address.latitude},#{address.longitude}",target: '_blank'
        %td
          = form_tag company_address_path(address),method: :put,remote: true do
            - value =  address.latitude ? "#{address.latitude},#{address}.longitude" : ''
            = text_field_tag 'latlong',"#{address.latitude},#{address.longitude}",class: "latlong"
            = submit_tag 'Update'

  .row
    = will_paginate @addresses
- else
  %h3 No Addresses present



