.footer
  .mixpanel
    - if session[:login_type]=='new_user'
      - session[:login_type]=nil
      :javascript
        analytics.alias("#{current_user.id}");
        analytics.identify("#{current_user.id}",{name: "#{current_user.name}",
                                                email: "#{current_user.email}"
                                                });
        analytics.track('Signed Up');
    - elsif session[:login_type]=='old_user'
      - session[:login_type]=nil
      :javascript
        analytics.identify("#{current_user.id}", {
          name: "#{current_user.name}",
          email: "#{current_user.email}"
        });
        analytics.track('Logged in');

    - if user_signed_in?
      :javascript
        var title = document.getElementsByTagName("title")[0].innerHTML;

    %a{:href => "https://mixpanel.com/f/partner"}
      %img{:alt => "Mobile Analytics", :src => "//cdn.mxpnl.com/site_media/images/partner/badge_light.png"}/


  .social-media-icons
    %i.fa.fa-facebook
    %i.fa.fa-twitter

  .apps
    .android-app
      %i.fa.fa-android
      %span=link_to 'APP FOR ANDROID',"https://play.google.com/apps/testing/com.freshspoon.spoonly",target: '_blank'
