%nav.navbar.navbar-default
  .container-fluid
    .row
      .col-xs-4.header-menu-text

      .col-xs-4.text-center.logo
        = link_to "/" do
          = image_tag('spoonly_logo_new.png')
      .col-xs-4.login
        %ul.navbar-right
          - if user_signed_in?
            %li.dropdown
              =link_to "#", {"href" => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false", class: "dropdown-toggle"} do
                = current_user.first_name
                %i.fa.fa-caret-down
              %ul.dropdown-menu
                %li
                  = link_to "Profile", customer_account_path
                %li
                  = link_to "Log out", destroy_user_session_path, {'data-method' => 'delete', 'rel' => 'nofollow'}
          - else
            %li= link_to 'My Account', "#guest_login", {"data-toggle" => "modal", "role" => "button"}

            #guest_login.modal{:title => "Login", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role=> "dialog"}
              .modal-dialog
                .modal-content
                  .modal-header
                    .col-xs-6
                      %h3.text-left Login
                    .col-xs-6
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  .modal-body
                    - User.omniauth_providers.each do |provider|
                      .col-xs-6
                        = link_to omniauth_authorize_path(User, provider), class: "provider-url" do
                          - if provider == :facebook
                            .social-auth-button.fb-button
                              %i.fa.fa-facebook
                              %span Facebook
                          - elsif provider == :google
                            .social-auth-button.google-button
                              %i.fa.fa-google
                              %span Google

                    .col-xs-12.text-center.msg
                      %p We do not post anything on your wall.

          -#= render 'user/guest_login'
