!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = metamagic
    %link{"rel"=>"icon", "type"=>"image/png", "href"=>"favicon.png"}
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "http://fonts.googleapis.com/css?family=Dosis:300,200"}
    %title= content_for?(:title) ? yield(:title) : "Spoonly"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Rails Bootstrap"}", :name => "description"}/
    = stylesheet_link_tag 'customer', media: 'all'
    = javascript_include_tag 'customers/application',async: Rails.env.production?,cache: Rails.env.production?
    = csrf_meta_tags
    :javascript
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("#{ENV["SEGMENT_WRITE_KEY"]}");
      }}();



  %body
    = render 'layouts/user/header'
    .container-fluid.main-content{:role => "main"}
      = render 'layouts/user/messages'
      = yield
    = render 'layouts/user/footer'
