.row-fluid
  .span12
    .widget
      .widget-header
        %h3 Menu
        %i.icon-building
        %span.pull-right
          = link_to 'Edit', [:edit,:company,@menu], :class => 'btn btn-secondary'
          = link_to 'Delete',[:company, @menu], :method => :delete, :data => { :confirm => 'Are you sure?' },
          :class => 'btn btn-secondary'
          = link_to 'Add Items',[:add_items,:company,@menu]
      .widget-content
        .row-fluid
          .span8
            = @menu.menu_date

.row
  %br

%h3 Lunch
- @menu.menu_lunch_products.each do |menu_lunch_product|
  - product = menu_lunch_product.product
  .row
    .col-md-8
      = image_tag product.photo.url(:thumb)
      = link_to product.name, [:company,product]
      = product.price
      = product.desc
      = link_to 'Remove Item',company_menu_product_path(menu_lunch_product), method: :delete
%h3 Dinner
- @menu.menu_dinner_products.each do |menu_dinner_product|
  - product = menu_dinner_product.product
  .row
    .col-md-8
      = image_tag product.photo.url(:thumb)
      = link_to product.name, [:company,product]
      = product.price
      = product.desc
      = link_to 'Remove Item',company_menu_product_path(menu_dinner_product), method: :delete