%h3= "MENU: #{@menu.menu_date.strftime('%a  %-d %b')}"
%h3 Lunch
- @menu.menu_lunch_products.each do |menu_product|
  - product = menu_product.product
  .row
    .col-md-8
      = image_tag product.photo.url(:thumb)
      = link_to product.name, [:company,product]
      = product.price
      = product.desc
    .col-md-4
      = link_to 'Remove From Menu',[:company, menu_product], :method => :delete, :data => { :confirm => 'Are you sure?' },
      :class => 'btn btn-secondary'


%h3 Dinner
- @menu.menu_dinner_products.each do |menu_product|
  - product = menu_product.product
  .row
    .col-md-8
      = image_tag product.photo.url(:thumb)
      = link_to product.name, [:company,product]
      = product.price
      = product.desc
    .col-md-4
      = link_to 'Remove from menu',[:company, menu_product], :method => :delete, :data => { :confirm => 'Are you sure?' },
      :class => 'btn btn-secondary'

%h3  Add to Menu

= form_tag company_menu_products_path do
  = select_tag 'menu_product[product_id]', options_for_select(Product.all.collect{ |p| [p.name, p.id] })
  = select_tag 'menu_product[category]',options_for_select(MenuProduct::CATEGORIES.collect{|c| [c.to_s,c.to_s]})
  = label_tag 'menu_product[max_quantity]','Max Quantity'
  = select_tag 'menu_product[max_quantity]',options_for_select(MenuProduct::MAX_QUANTITIES.collect{|c| [c.to_i,c.to_s]})
  = hidden_field_tag 'menu_product[menu_id]',@menu.id
  = submit_tag 'Create',class: 'btn btn-primary'


%br
  %br
.row
  = link_to 'Back to all menus',company_menus_path