= form_tag company_users_path,method: :get do
  = text_field_tag 'search_term',@search_term
  = submit_tag 'Search'
= form_tag company_users_path,method: :get do
  = select_tag ''


- if @users.present?

  %table.table
    %thead
      %tr
        %th
          Joined on
        %th
          User #
        %th
          Name,Email
        %th
          Phone
        %th
          No. of Orders
        %th
          Wallet Money
        %th
          Has Referred
        %th
          Referrer
        %th
          Device Id
        %th
          Feedbacks
    - @users.each do |user|
      %tr
        %td
          = user.created_at.strftime("%l:%M %p, %a  %-d %b")
        %td
          = link_to user.id,[:company,user]
        %td
          = user.name
          %br
          = user.email
        %td
          = user.phone_number
        %td
          - if user.orders.present?
            = user.orders.count
        %td
          = user.wallet.balance
        %td
          = user.referred_users.count
        %td
          - if user.referrer_user
            = link_to user.referrer_user.name,[:company,user.referrer_user]
        %td
          = user.device_id
        %td
          - if user.feedbacks.present?
            = link_to 'View',''
          - else
            = link_to 'No Feedback',''

  .row
    = will_paginate @users
- else
  %h3 No Users present



