= form_tag company_users_path,method: :get do
  = text_field_tag 'search_term',@search_term,placeholder: 'user email'
  = text_field_tag 'referred_by',@referred_by,placeholder: 'Referred by email'
  = submit_tag 'Search'



- if @users.present?

  %table.table
    %thead
      %tr
        %th
          Joined on
        %th
          Name,Email
        %th
          Phone
        %th
          - if (params['sort_by'] !='orders') || params['order'] !='asc'
            = link_to 'No. of Orders-Desc',company_users_path(sort_by: 'orders',order: 'asc')
          - else
            = link_to 'No. of Orders-Asc',company_users_path(sort_by: 'orders',order: 'desc')

        %th
          Wallet Money
        %th
          - if (params['sort_by'] !='referrals') || params['order'] !='asc'
            = link_to 'Has Referred-Desc',company_users_path(sort_by: 'referrals',order: 'asc')
          - else
            = link_to 'Has Referred-Asc',company_users_path(sort_by: 'referrals',order: 'desc')

        %th
          Referrer
        %th
          Device Id
        %th
          Feedbacks
        %th
          Card Transactions
    - @users.each do |user|
      %tr
        %td
          = user.created_at.strftime("%l:%M %p, %a  %-d %b")
        %td
          = "##{user.id}"
          = link_to user.name,[:company,user]
          %br
          = user.email
        %td
          = user.phone_number
        %td
          - if user.orders.present?
            = user.orders_count
        %td
          = user.wallet.balance
        %td
          = user.referrals_count
        %td
          - if user.referrer_user
            = link_to user.referrer_user.name,[:company,user.referrer_user]
        %td
          = user.device_id || "-"
        %td
          - if user.feedbacks.present?
            = link_to "View #{user.feedbacks.count}",feedbacks_company_user_path(user)
          - else
            \-

  .row
    = will_paginate @users
- else
  %h3 No Users present



