- @company_users.each do |user|
  .row
    .col-xs-4
      = user.email
    .col-xs-4
      = user.phone_number
    .col-xs-4
      = user.roles
    .col-xs-4
      = user.otp_required_for_login? ? 'OTP Enabled' : 'OTP Disabled'
      = user.otp_required_for_login? ? (link_to 'Disable OTP','') : (link_to 'Enable OTP','')


