.row
  .col-xs-1
  .col-xs-3
    = image_tag "#{@user.profile.pic_url}&sz=260",size: '250*250'
  .col-xs-3
    %h4= "##{@user.id} - #{@user.name}"
    %br
    %b Email:
    = @user.email
    %br
    %b Phone:
    = @user.profile.phone_number
    %br
      %b Addresses:
    - @user.addresses.each do |address|
      .row
        = address.formatted
    Wallet:
    = "Rs #{@user.wallet.balance}"
    = link_to "View Wallet",[:wallet,:company,@user]
    %br
    - if @user.referrer_user
      %b Referred by:
      =link_to  @user.referrer_user.name,[:company,@user.referrer_user]
    %br
    Profile links:
    - @user.authorizations.each do |a|
      = link_to a.provider, a.profile_url

.row
  .col-xs-1
  .col-xs-10
    %h4
      General Promotions Applied:
    - if @user.user_general_promotions.present?
      -@user.user_general_promotions.each do |ugp|
        - gp = ugp.general_promotion
        .row
          .col-xs-3
            = gp.name
          .col-xs-3
            = gp.promo_code
          .col-xs-3
            = "Applied on #{ugp.created_at.strftime("%l:%M %p, %a  %-d %b")}"
    - else
      None

%h4
  Apply Promotions

- GeneralPromotion.active.each do |gp|
  - if !gp.applied_for? @user
    = link_to "Apply #{gp.name}",apply_company_general_promotion_path(gp,user_id: @user.id),method: :post


- @user.orders.each do |order|
  %h4= "Order ##{order.id}"
  %table.table
    %thead
      %tr
        %th
          Delivery Time
        - if order.dispatched?
          %th
            Dispatched At
        - if order.delivered?
          %th
            Delivered At
        %th
          State
    %tr
      %td
        = order.formatted_delivery_time
      - if order.dispatched?
        %td
          = order.dispatched_at
      - if order.delivered?
        %td
          = order.formatted_delivery_time
      %td
        = order.state.upcase


  %h4 Items
  %table.table
    %thead
      %tr
        %th
          Item
        %th
          Quantity
        %th
          Photo

    - order.line_items.includes(:menu_product).includes(:product).each do |li|
      %tr
        %td
          = li.product.name
        %td
          = li.quantity
  %h4
    BILL:
  .row
    .col-xs-1
    .col-xs-1
      Total Amount
      %br
      %b= "#{order.total_price} "
    .col-xs-1
      = "-"
    .col-xs-1
      Prepaid Amount
      %br
      %b="#{order.prepaid_amount}"
    .col-xs-1
      = "="
    .col-xs-1
      Due
      %br Amount
      %b="#{order.cash_to_pay}"





= link_to 'Back to All Users',[:company,:users],class: 'btn btn-primary'

