%h4
  Balance:
  = @user.wallet.balance

%h4 Transactions

.row
  .col-xs-2
  .col-xs-2
    Type

- @user.transactions.each do |transaction|
  .row
    .col-xs-2
    .col-s-2
      = transaction.class.name
    .col-xs-2
      = transaction.created_at.strftime("%l:%M %p, %a  %-d %b")
    .col-xs-2
      = transaction.amount
    .col-xs-2
      - if transaction.class==Credit
        = transaction.credit_type
        ,
        = transaction.payment_mechanism_type
        - if transaction.payment_mechanism_type == 'Refund'
          Refund
        -else
          = link_to 'View',[:company,transaction.payment_mechanism]
      - else
        NA

%br
  %br

.row
  .col-xs-4
    = form_tag give_money_company_user_path(@user) do
      = select_tag :wallet_promotion_name,options_from_collection_for_select(WalletPromotion.manual,:name,:name), class: "form-control"
      = label_tag 'message'
      = text_area_tag :message
      = submit_tag 'Give Money'
