.user-profile
  = render '/customer/accounts/profile_sidebar'
  .content
    .col-xs-12
      .wallet
        .balance.text-center
          %span.msg Available Balance
          %p.inr
            %i.fa.fa-inr
            %span.amount= current_user.wallet.balance
        .add-amount
          .pre-defined-amount
            %p.text-center Add amount to your wallet
            .btn.btn-action.amount-button{"data-amount"=>100}
              100
            .btn.btn-action.amount-button{"data-amount"=>200}
              200
            .btn.btn-action.amount-button{"data-amount"=>300}
              300

          = form_tag '' do
            .form-group
              = number_field_tag 'amount','',placeholder: 'Enter specific amount', class: "form-control"
            = link_to 'Proceed To Pay','',id: 'pay',class: 'btn btn-action'

:javascript

  $('.amount-button').click(function(){
    $('.amount-button').removeClass('active');
    $(this).addClass('active');
    var amount = $(this).data('amount')
    $('#amount').val(amount);
  })


  $('#pay').click(function(e){
      e.preventDefault();
      var amount_to_pay = $('#amount').val();
      if(amount_to_pay !=""){
        url = "https://www.instamojo.com/Spoonly/spoonly-wallet-recharge-40e3a/?embed=form&data_hidden=data_Field_35054&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount&data_amount="+amount_to_pay+"&data_email=#{current_user.email}&data_name=#{current_user.name}&data_phone=#{current_user.phone_number}&intent=buy&data_Field_35054=#{current_user.id}"
        window.open(url, '_blank');
        }
      else{
        alert("Please enter an amount")
      }
  });




%a#payment_info_link{"data-behavior" => "link", "data-style" => "light", "data-text" => "Add 200",
"data-token" => "1de0bcd6325cee2bd15a1beb86d224f8", :href => "https://www.instamojo.com/Spoonly/spoonly-wallet-recharge-40e3a/?embed=form&data_hidden=data_Field_35054&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount&data_amount=10&data_email=#{current_user.email}&data_name=#{current_user.name}&data_phone=#{current_user.phone_number}&intent=buy&data_Field_35054=#{current_user.id}",:rel => "im-checkout"}
